body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}
#logo {
    border: 38px solid yellow;
    border-radius: 15px;
    display: inline-block;
    margin: 45px 0px 0px 60px;
    padding-bottom: 0px;
    font-size: larger;
    color: black;
    font-family: sans-serif;
    font-weight: 900;
    height: 0px;
    width: 0px;
}
.right {
    /*border: 2px solid black;*/
    display: inline-block;
    position: absolute;
    right: 78px;
    top: 37px;
}
.navbar {
    display: inline-block;
    font-family: Arial;
    font-weight: 600;
}
.navbar li {
    display: inline-block;
    margin: 17px 0px 0px 50px;
    padding: 0px 0px 0px 0px;
}
.navbar li a {
    color: black;
    text-decoration: none;
    padding: 44px 32px;
    font-family: sans-serif;
    font-weight: 600;
}
.navbar li a:hover {
    color: rgb(238, 9, 204);
}
#lan {
    padding: auto;
    margin: 17px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: large;
    border-color: white;
}
.fa-solid {
    font-weight: 900;
    font-size: xx-large;
    padding: 20px;
}
h1 {
    align-items: center;
    display: flex;
    font-size: xxx-large;
    justify-content: center;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}
.p1 {
    align-items: center;
    display: flex;
    font-size: large;
    justify-content: center;
    color: gray;
}
.search {
    padding: 10px;
    font-size: 17px;
    border: 2px solid rgb(251, 244, 244);
    border-radius: 10px;
    float: left;
    width: 25%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    color: gray;
}
.b1 {
    width: 4%;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
.main {
    margin-top: 3%;
    display: flex;
    margin-left: 20%;
}
#list {
    padding: auto;
    margin: 17px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: large;
    border-color: white;  
    cursor: pointer; 
}
.p2{
    padding: auto;
    margin: 17px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: large;
    border-color: white;
}
.p3 {
    padding: auto;
    margin: 17px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: large;
    border-color: white;
}
.p4 {
    padding: auto;
    margin: 17px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: large;
    border-color: white;
}
.images {
    display: flex;
    justify-content: center;
    align-items: center;
}
.i1 {
    height: 350px;
}
.i2 {
    height: 350px;
}
.i3 {
    height: 350px;
}
.discover {
    margin-top: 2%;
    margin-left: 10%;
    font-size: large;
}
.discover a {
    color: black;
}
.b2 {
    background-color: #e3dfdf;
    border: 2px solid white;
    margin-left: 28%;
    font-size: large;
    margin-bottom: 4%;
    height: 62px;
    width: 12%;
    border-radius: 10px;
    cursor: pointer;
}
a{
    /* text-decoration: none; */
    display: inline-block;
    padding: 8px 16px;
} 
a:hover{
    background-color: rgb(193, 192, 192);
    color: black;
} 
.previous{
    background-color: #ddd;
    color: black;
}  
.next{
    background-color: #ddd;
    color: white;
}  
.square{
    border-radius: 25%;
    text-decoration: none;
}
.page {
    display: inline-block;
    margin-left: 30%;
}
.one {
    border: 2px solid honeydew;
}